# Python
*.log
*.pot
*.pyc
__pycache__
Pipfile

# Django
media/

# Database
*.sqlite3

# Visual Studio Code # 
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
